@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

/* Empêche le scroll horizontal pendant les transitions latérales */
body {
  overflow-x: hidden; 
}